/* @import url("https://fonts.googleapis.com/css?family=Muli&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  /* --secondary-color: #be2edd; */
  --secondary-color: #e74c3c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #eafbff;
  transition: transform 0.3s ease;
}

/* JS dr navbar dr button darahad body ter chigeeree hodloj NAVBAR garch irne. NAVBAR:200px width uchraas...*/
body.show-nav {
  transform: translate(200px);
}
/* COLUMN NAVBAR */
nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  /* zuun tiisheege 200px buyu 100%-aar alga boloh */
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

/* HOME gesen LINK-nii deer border hiiw. */
nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100px;
  position: relative;
}

/* button-ii toggle class */
.toggle {
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.fa-bars {
  font-size: 1rem;
}
h1 {
  position: absolute;
  top: 30%;
  left: 40%;
  color: #eafbff;
}
.cart-icon-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-icon-container #cartBtn {
  background-color: transparent;
  border: 0;
}

.fa-shopping-cart {
  color: #fff;
  font-size: 1.5rem;
  margin: 50px;
  cursor: pointer;
}
.fa-shopping-cart.red {
  color: var(--secondary-color);
}

/* Counter Styles */
.cart-icon-container #itemCounter {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50%;
  visibility: hidden;
}
.cart-icon-container #itemCounter.visible {
  visibility: visible;
}

.item-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 100%;
  margin: 10px auto;
}

.shop-item {
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
.shop-item p {
  margin-top: 5px;
  z-index: 1;
}
.shop-item img {
  padding-top: 10px;
}
.shop-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* BUTTON CONTAINER */
.addCart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: #eafbff;
  height: 30px;
  margin: 10px;
}

.addCart-container button {
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 10px;
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: lightblue;
  cursor: pointer;
}

button:focus {
  outline: 0;
}
button:active {
  transform: scale(0.9);
}

/* input-iin undsen style */
.inputQty {
  width: 40px;
  height: 100%;
  padding: 10px;
  border: 0;
  border-top: 1px #3d3d3d solid;
  border-bottom: 1px #3d3d3d solid;
  font-size: 12px;
}
.inputQty:focus,
.inputQty:valid {
  outline: 0;
  transform: scale(0.9);
}

/* SAGSAND NEMEH BUTTON */
.btn-cart {
  font-size: 10px !important;
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  cursor: pointer;
}

#close-btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
}

/* JS dr show class ajillaagv nuugdsan bn. */
.cart-item-container {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  width: 600px;
  line-height: 1.5;
  visibility: hidden;
  padding: 20px;
  z-index: 100;
  transition: visibility 0.2s ease-in-out;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* JS dr show class ajillah ued haragdana. */
.cart-item-container.show {
  visibility: visible;
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.cart-item button {
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  margin-right: 10px;
}
.fa-trash {
  color: var(--secondary-color);
}

/* CART TOTAL */
.cart-total {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #fff;
}
.cart-total-title,
.cart-total-price {
  padding-top: 10px;
}
